.glyph-success {
    padding-right: 10px;
    padding-left: 10px;
    color: #5cb85c;
}

.glyph-failure {
    padding-right: 10px;
    padding-left: 10px;
    color: #c9302c;
}

.error-message {
    color: #c9302c;
}

.git-button-fixed-width {
    width: 71px;
}

.git-button-grey-ajax-loader {
    content: url("./img/ajax-loader-grey.gif");
}

.git-button-red-ajax-loader {
    content: url("./img/ajax-loader-red.gif");
}